<!DOCTYPE html>
<html>
<head>
	<title>Integrantes Equipo Docente</title>
</head>
<body>
	<h2>Carlos Alberto Vega Hernandez</h2>
	<h2>Catalina Martin D.</h2>
	<h2>Eduardo Valerio C.</h2>
	<h2>Juan Gutierrez T.</h2>
	<h2>Matias Rojas</h2>
	<h2>Nicolas Villa Contardo</h2>
	<h2>Sebastian Donoso</h2>
	<h2>Sofia Herreraz</h2>
	<h2>Victoria Arce A.</h2>
	<h2>Javiera Ovalle T.</h2>
	<h2>Jorge Pinto</h2>
	<h2>Jose Canto</h2>
	<h2>Macarena V. Osorio A.</h2>
	<h2>Victor Hernandez M.</h2>

	<a href="file:///Users/nicolefernandazunigafuentes/Desktop/TICS/auxiliares/aux%202/auxiliar2/miapp/templates/miapp/copiaindex.html">Hola, soy un enlace al Index creado en clase auxiliar</a>
	<br>
	<a href="file:///Users/nicolefernandazunigafuentes/Desktop/TICS/auxiliares/aux%202/auxiliar2/miapp/templates/miapp/listasuper.html">Hola, soy un enlace a la lista del super de Nicole</a>

</body>
</html>