<!DOCTYPE html>
<html>
<head>
	<title>Lista Del Super</title>
</head>
<body>
	<h1>Lista del Super de Nicole:</h1>
	<h2>Huevos</h2>
	<h2>Papas</h2>
	<h2>Tallarines integrales</h2>
	<h2>Salsa de tomate</h2>
	<h2>Carne</h2>
	<h2>Pollo</h2>
	<h2>Leche</h2>
	<h2>Azucar</h2>
	<h2>Aceite</h2>
	<h2>Paltas</h2>
	<h2>Cereal</h2>

	<a href="file:///Users/nicolefernandazunigafuentes/Desktop/TICS/auxiliares/aux%202/auxiliar2/miapp/templates/miapp/copiaindex.html">Hola, soy un enlace al Index creado en clase auxiliar</a>
	<br>
	<a href="file:///Users/nicolefernandazunigafuentes/Desktop/TICS/auxiliares/aux%202/auxiliar2/miapp/templates/miapp/integrantes.html">Hola, soy un enlace al equipo docente del IN3501-2</a>

</body>
</html>